# Sanity CMS
PUBLIC_SANITY_PROJECT_ID=seu_project_id_aqui
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2024-01-01

# Google Analytics 4
PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# WhatsApp (sem caracteres especiais, formato internacional)
PUBLIC_WHATSAPP_NUMBER=5511936188087
